/* AuthenticatedWelcome.css */

body {
  background-color: #f5f8fa; /* Light blue-gray background */
}

/* Center the content vertically and horizontally */
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
}

/* Loading animation */
.loading-animation {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(32, 59, 71, 0.382)
      url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
      no-repeat;
  z-index: 1;
}
